.modal .bx{
    font-size: 40px;
    color: #fff;
}

.modal{
    backdrop-filter: blur(12px);
}


.modal div{
    background: transparent;
    backdrop-filter: blur(12px);
    border: none;
    /* background-color: rgba(255, 255, 255, 0.1);  */
}

div .get-started{
    
font-family: 'Ebrima';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 77px;
/* identical to box height */
color: #BFDC36;
}

h4{
    color: white;
    font-size: 24px;
    margin-left: 19% ;
}

.body button{
    border: 2px solid #BFDC36;
    border-radius: 30px;
    background: transparent;
    margin-top: 20px;
    padding: 10px 30px;
}

.body .another{
    border: none;
    color: #BFDC36;
    padding: 0;
    margin-left: 5px;
}

.body .second_btn{
    margin-left:30px;
}

.body .targeted{
    font-family: 'Ebrima';
font-style: normal;
font-weight: 400;
color: #fff;
font-size: 20px;
text-decoration: none;
}

Form{
    margin-top: 40px;
}

Form .label{
    color: #fff;
    font-size: 20px;
}

Form .control{
    border: 2px solid #BFDC36;
    border-radius: 30px;
    background: transparent;
    height: 70px;
}

.form-check-input{
    width: 50px;
    height: 50px;
    border: 2px solid #BFDC36;
    border-radius: 10px;
}

.form-check-label{
    font-family: 'Ebrima';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 33px;
color: #fff;
margin-top: 10px;
margin-left: 40px;
}

.form-check-label span{
    color: #BFDC36;
}

.sign-up{
    width: 500px;
    height: 71px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Ebrima';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-decoration: none;
}

.sign-up a{
    color: #fff;
}